.sidebar {
  -fx-background-color: #2493DF;
  -fx-alignment: TOP_LEFT;
  -fx-padding: 20;
  -fx-spacing: 12;

}

.sidebar__title-container {
  -fx-padding: 0 0 20 0;
}

.sidebar__title {
  -fx-font-weight: bold;
  -fx-font-size: 24;
  -fx-fill: white;
}

.sidebar__link {
  -fx-font-weight: bold;
  -fx-font-size: 16;
  -fx-text-fill: rgba(255, 255, 255, .7);
  -fx-cursor: hand;
  -fx-min-width: 260;
  -fx-min-height: 45;
  -fx-padding: 0 0 0 16;
  -fx-cursor: hand;
  -fx-background-color: transparent;
  /* -fx-background-color: transparent; */
}

.sidebar__link:hover {
  /* -fx-background-color: #1b84ca; */
  -fx-text-fill: rgb(255, 255, 255);
}

.sidebar__link.sidebar__link--active {
  -fx-background-color: white;
  -fx-background-radius: 8;
  -fx-text-fill: #212121;
}

.btn-subject--1,
.btn-subject--2,
.btn-subject--3,
.btn-subject--4 {
  -fx-min-width: 150;
  -fx-max-width: 150;
  -fx-min-height: 150;
  -fx-min-height: 150;
  -fx-text-fill: white;
  -fx-border-radius: 75;
  -fx-background-radius: 75;
  -fx-cursor: hand;
  -fx-font-weight: bold;
  -fx-font-size: 24;
}

.btn-subject--1 {
  -fx-background-color: #74df59;
  -fx-effect: dropshadow(gaussian, rgba(66, 168, 88, .8), 10, .5, 0, 4);
}

.btn-subject--2 {
  -fx-background-color: #8762FC;
  -fx-effect: dropshadow(gaussian, rgba(120, 87, 230, .8), 10, .5, 0, 4);
}

.btn-subject--3 {
  -fx-background-color: #fc8762;
  -fx-effect: dropshadow(gaussian, rgba(252, 135, 98, .8), 10, .5, 0, 4);
}

.btn-subject--4 {
  -fx-background-color: rgb(252, 98, 138);
  -fx-effect: dropshadow(gaussian, rgba(252, 98, 138, .8), 10, .5, 0, 4);
}

.btn-subject--1:hover {
  -fx-background-color: rgb(105, 202, 81);
  -fx-effect: dropshadow(gaussian, rgba(105, 202, 81, .8), 10, .6, 0, 4);
}

.btn-subject--2:hover {
  -fx-background-color: rgb(119, 86, 226);
  -fx-effect: dropshadow(gaussian, rgba(119, 86, 226, .8), 10, .6, 0, 4);
}

.btn-subject--3:hover {
  -fx-background-color: rgb(235, 129, 97);
  -fx-effect: dropshadow(gaussian, rgba(235, 129, 97, .8), 10, .6, 0, 4);
}

.btn-subject--4:hover {
  -fx-background-color: rgb(241, 91, 131);
  -fx-effect: dropshadow(gaussian, rgba(241, 91, 131, .8), 10, .6, 0, 4);
}

.btn__container {
  -fx-alignment: center;
  -fx-spacing: 20;
}

.btn__title {
  -fx-font-weight: bold;
  -fx-font-size: 20;
}

.home__title-1,
.home__title-2,
.home__title-3,
.home__title-4 {
  -fx-font-size: 35;
  -fx-font-weight: bold;
}

.home__title-1 {
  -fx-fill: #74df59;
}

.home__title-2 {
  -fx-fill: #8762FC;
}

.home__title-3 {
  -fx-fill: #fc8762;
}

.home__title-4 {
  -fx-fill: #fc628a;
}