.nivel-container {
  -fx-padding: 20 40 20 40;
  -fx-spacing: 16;
}

.list {
  -fx-padding: 0 0 0 20;
}

.simple-code {
  -fx-background-color: #212121;
  -fx-padding: 16;
  -fx-background-radius: 4;
}

.simple-code Text {
  -fx-fill: white;
  -fx-font-family: 'Consolas';
}

.note-box {
  -fx-border-color: #2493DF;
  -fx-border-radius: 20;
  -fx-border-width: 2;
  -fx-padding: 20;
  -fx-spacing: 12;
  -fx-alignment: center;
}

.note-box__text,
.note-box__icon {
  -fx-fill: #2493DF;
}

.note-box--error {
  -fx-border-color: #f1275a;
  -fx-border-radius: 20;
  -fx-border-width: 2;
  -fx-padding: 20;
  -fx-spacing: 12;
  -fx-alignment: center;
  
}

.note-box__text--red,
.note-box__icon--red {
  -fx-fill: #f1275a;
}

.btn-next {
  -fx-background-color: #2493DF;
  -fx-background-radius: 4;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-padding: 12 24 12 24;
  -fx-cursor: hand;
}

.btn-next:hover {
  -fx-background-color: #37afff;
  -fx-cursor: hand;
}

.btn-next__icon {
  -fx-fill: white;
}