.nivel-container {
  -fx-padding: 20 60 20 60;
  -fx-spacing: 16;
}


.note-box {
  -fx-border-color: #2493DF;
  -fx-border-radius: 20;
  -fx-border-width: 2;
  -fx-padding: 20;
  -fx-spacing: 12;
  -fx-alignment: center;
}

.note-box__text,
.note-box__icon {
  -fx-fill: #2493DF;
}

.note-box--error {
  -fx-border-color: #f1275a;
  -fx-border-radius: 20;
  -fx-border-width: 2;
  -fx-padding: 20;
  -fx-spacing: 12;
  -fx-alignment: center;

}

.note-box__text--red,
.note-box__icon--red {
  -fx-fill: #f1275a;
}