.background {
  -fx-background-color: #ffffff;
}

Text,
.text {
  -fx-font-family: 'Poppins', sans-serif;
}

Text {
  -fx-fill: #212121;
  -fx-font-size: 16;
}

.title-1,
.title-2,
.title-3,
.title-4 {
  -fx-font-weight: bold;
}

.title-1 {
  -fx-font-size: 28;
  -fx-fill: #2493DF;
}

.title-2 {
  -fx-font-size: 24;
}

.title-3 {
  -fx-font-size: 20;
}

.btn__go-back__container {
  -fx-alignment: center-left;
  -fx-spacing: 12;
}

.btn__go-back {
  -fx-background-color: #ffffff;
  -fx-cursor: hand;
}

.btn__go-back__icon {
  -fx-fill: #2493DF;
}

.btn__go-back__icon:hover {
  -fx-fill: #37afff;
}

.btn-next,
.btn-confirm {
  -fx-background-radius: 8;
  -fx-border-radius: 8;
  -fx-border-width: 0 0 3 0;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-padding: 12 24 12 24;
  -fx-cursor: hand;
  -fx-font-size: 16;
}

.btn-next {
  -fx-background-color: #2493DF;
  -fx-border-color: #1f73aa;
}

.btn-next:hover {
  -fx-background-color: #37afff;
}

.btn-confirm {
  -fx-background-color: #24df88;
  -fx-border-color: #2fa870;
}

.btn-confirm:hover {
  -fx-background-color: #28c47b;
}

.btn-next__icon,
.btn-confirm__icon {
  -fx-fill: white;
}

.simple-code {
  -fx-background-color: #212121;
  -fx-padding: 16;
  -fx-background-radius: 4;
}

.simple-code Text {
  -fx-fill: white;
  -fx-font-family: 'Consolas';
}

.nivel-selector {
  -fx-background-color: transparent;
  -fx-border-color: #2493DF;
  -fx-border-radius: 10;
  -fx-border-width: 2 2 3 2;
  -fx-cursor: hand;
  -fx-font-size: 16;
}

.nivel-selector .arrow {
  -fx-background-color: #2493DF;
  -fx-font-size: 16;
}